/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

/* For navbar, make it transparent */
.md .navbar {
    background: transparent;
    color: #212121;
}

.md .navbar:after {
	background:none; /* Hide box shadow */
}

.md .block-title {
	margin: 16px 16px;
}

/* For list */
.md .list {
	font-size:13px;
}

.item-before {
	font-weight: 700;
}

.item-title {
	font-style: italic;
}

/* For swiper */
.pembicara-swiper .swiper-slide {
	font-size: 25px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #000;
}
.pembicara-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}
.pembicara-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 100%;
}
.pembicara-swiper.pembicara-swiper-auto .swiper-slide {
    width: 85%;
}
.pembicara-swiper.pembicara-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}
.pembicara-swiper.pembicara-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.swiper-pagination {
	top: 10px;
}

/* Cards */
.md .card.pembicara-card {
	width:100%;
	height:100%;
	margin: 0;
	border-radius: 0;
}

.md .card.pembicara-card .card-header {
	height: 200px;
	font-size:25px;
	color:#414141;
	text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee;
}

.md .card.pembicara-card .card-content p.text-para {
	text-align: justify;
	font-size: 0.9em;
}

.md .card.pembicara-card .card-footer {
	justify-content: center;
	position:absolute;
	bottom:65px;
}

.md .card.pembicara-card .card-footer a.link {
	text-align:left;
}

.md .card.pembicara-card .card-footer a.link .fab {
	font-size:2em;
}